---
import "../styles/global.css";

import BaseLayout from "../layouts/BaseLayout.astro";

import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection('blog');

const pageTitle = "記事一覧";
---

<BaseLayout pageTitle={pageTitle}>
	<p>XやBlueskyでは足りないときに</p>

	<ul>
		{
			allPosts.map((content) => (
				<BlogPost url={content.slug} title={content.data.title} />
			))
		}
	</ul>
</BaseLayout>
