---
import "../styles/global.css";

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle ="スクリューに身を委ねて"
---

<BaseLayout pageTitle={pageTitle}>

</BaseLayout>

<!-- <html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>百鳥門</title>
    <style>
      html{
        background-color: #fbfbfb;
      }
      .container {
        height: 70dvh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h1 {
        font-size: 4rem;
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 20px 0 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <h1>百鳥門</h1>
        <div class="nav-links">
          <a href="/about/">最高</a>
          <a href="/blog/">巡礼</a>
          <a href="/tags">風戯</a>
        </div>
      </div>
    </div>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html> -->
