---
import BlacknessAdjuster from '../components/Blackman.astro';
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>松崎しげる黒さ調整</title>
  </head>
  <body>
    <BlacknessAdjuster />
  </body>
</html>
